/* Write your CSS here */
.notification-card {
  max-width: 520px;
  height: 120px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 15px;
  border: solid #e5e5e5 2px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}
